<div class="jumbotron hero">
<label>Title
<br><input type='text' name='calendar[title]' value='<%= calendar.escape('title') %>'>
</label>
<br>
</label><br><button class="btn btn-primary">Submit</button>
<br>
<a href='#/'>Back</a>
</div>