<div class="col-md-3" id="sidebar">
  sidebar
</div>



<div class="container-fliud col-md-9 text-center" id="calendar">

      <h3>March</h3>

    <table class="table table-striped table-hover col-md-12" id="cal">

      <th>Sunday</th>
      <th class="text-center"> Monday</th>
      <th class="text-center"> Tuesday</th>
      <th class="text-center"> Wednesday</th>
      <th class="text-center"> Thursday</th>
      <th class="text-center"> Friday</th>
      <th class="text-center"> Saturday</th>

      <tr>
        <td></td>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
      </tr>
      <tr class="text-center">
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>10</td>
        <td>11</td>
        <td>12</td>
        <td>13</td>
      </tr>
      <tr class="text-center">
        <td>14</td>
        <td>15</td>
        <td>16</td>
        <td>17</td>
        <td>18</td>
       <td> <div id="today">19</div></td>
        <td>20</td>
      </tr>
      <tr class="text-center">
        <td>21</td>
        <td>22</td>
        <td>23</td>
        <td>24</td>
        <td>25</td>
        <td>26</td>
        <td>27</td>
      </tr>
      <tr class="text-center">
        <td>28</td>
        <td>29</td>
        <td>30</td>
      </tr>
    </table>

</div>





