/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

body {
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
  background-image:url('454.jpeg');
}

#avatar {
  height: 45px;
  width: 45px;
  border-radius: 150px;
	margin-bottom: -50px;
	margin-top: -50px;
}

.btn-inverse {
  @include button-variant($navbar-inverse-brand-color, $navbar-inverse-bg, $navbar-inverse-border);
}

.panel-inverse {
  opacity: 0.97;
  @include panel-variant($navbar-inverse-brand-color, $navbar-inverse-brand-color, $navbar-inverse-bg, $navbar-inverse-border);
  border:2px solid;
}

#content{
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}

.togglelink{
  color: $navbar-inverse-brand-color;
}

.panel-entries {
  background: $jumbotron-bg;
}


.day {
  font-size: 2em;
}

.month {
  font-size: 0.75em;
  display: block;
}

.weekday {
  font-size: 0.75em;
  display: block;
}

.week-month{
  width: 100px;
  display: inline-block;
}

.date-holder{
  display: inline;
}

#time-tags{
  background-color: black;
  opacity: 0.9;

  li{
    a{
      color: grey;
    }
    margin: 5px;
    &.active > a {
            &,
            &:hover,
            &:focus {
              color: black;
              background-color: $nav-pills-active-link-hover-color;
            }
          }
  }
}

.hero {
  opacity: 0.92;
}


