/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

body {
  padding-top: 100px;
  padding-left: 15px;
  padding-right: 15px;
}

#avatar {
  height: 45px;
  width: 45px;
  border-radius: 150px;
	margin-bottom: -50px;
	margin-top: -50px;
}

.btn-inverse {
  @include button-variant($navbar-inverse-brand-color, $navbar-inverse-bg, $navbar-inverse-border);
}

.panel-inverse {
  @include panel-variant($navbar-inverse-brand-color, $navbar-inverse-brand-color, $navbar-inverse-bg, $navbar-inverse-border);
}

#content{
  width: 66%;
  margin-left: auto;
  margin-right: auto;
}


//$border, $heading-text-color, $heading-text-colorading-bg-color, $heading-border

