// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.col-xs-1 {
  width: 50px;
  padding: 1px;
}

#cal {
  width: 50%;
}

#today {
  background: red;
  color: white;
}

#calendar {
  width: 66%;
  height: auto;
  margin-left: 50px;
}


#sidebar {
  background: black;
  height: 1000px;
  color: white;
}

